<div>
  <div class="ui raised card custom-card" *ngFor="let comment of comments">
    <div class="content">
      <div class="header">{{comment.name}}</div>
      <div class="meta">
        <span class="category">{{comment.email}}</span>
      </div>
      <div class="description">
        <p>{{comment.body}}</p>
      </div>
    </div>    
  </div>
</div>