<h2>Filter by user</h2>
<select class="ui fluid dropdown" (change)="filterByUser($event.target.value)">
  <option value="">All the Users</option>
  <option *ngFor="let user of users" value="{{user.id}}">{{user.username}}</option>
</select>
<br>
<div class="ui divider"></div>