<table class="ui celled table">
  <thead>
    <tr>
      <th>Post Id</th>
      <th>User</th>
      <th>Title</th>
      <th>Delete Post</th>
    </tr>
  </thead>
  <tbody>    
    <tr *ngFor="let post of posts" (click)="postDetails(post.id)">
      <td data-label="PostId">{{post.id}}</td>
      <td data-label="User">
        {{getUsername(post.userId)}} <!-- It's better to create a custom pipe to transform the id to the username -->
      </td>
      <td data-label="Title">{{post.title}}</td>
      <td data-label="Delete"><i class="trash icon" (click)="deletePost(post.id)"></i></td>
    </tr>    
  </tbody>
</table>