<div class="ui secondary pointing menu">
  <a class="active item" [routerLink]="['/posts']">
    Home
  </a>  
  <div class="right item">
    An Exercise using <a href="https://jsonplaceholder.typicode.com/">&nbsp;https://jsonplaceholder.typicode.com/</a>
  </div>  
</div>
