<div class="content">
  <h2>
    Post Details
  </h2>
  <div class="ui divider"></div>

  <app-error-message *ngIf="error" (closeError)="hideError()"></app-error-message>

  <div class="ui raised card custom-card" *ngIf="!error">
    <div class="ui dimmer" [ngClass]="{'active': loading}">
      <div class="ui" [ngClass]="{'loader': loading}"></div>
    </div>
    <div class="content" *ngIf="!loading" >
      <div class="header">{{post.title}}</div>
      <div class="meta">
        <span class="category">Id: {{post.id}}</span>
      </div>
      <div class="description">
        <p>{{post.body}}</p>
      </div>
    </div>
    <div class="extra content" *ngIf="user">
      <div class="right floated author">
        {{user.username}}
      </div>
    </div>
  </div>

  <button (click)="toggleComments()" class="ui primary button" *ngIf="!error">
    {{showComments ? 'Hide Comments' : 'Show Comments'}}
  </button>

  <div class="ui segment" *ngIf="!error && showComments">
    <div class="ui dimmer" [ngClass]="{'active': loading}">
      <div class="ui" [ngClass]="{'loader': loading}"></div>
    </div>
    <h4>Comments</h4>
    <div class="ui divider"></div>
    <app-post-comments *ngIf="!loading" [comments]="comments"></app-post-comments>
  </div>

</div>