<button class="ui primary button" (click)="createPost()">
  Create new post
</button>

<div *ngIf="post" class="ui segment">
  <form [formGroup]="postForm" class="ui form">
    <div class="field">
      <label>User</label>
      <select class="ui fluid dropdown" formControlName="user">
        <option value="">Select an User</option>
        <option *ngFor="let user of users" value="AL" value="{{user.id}}">{{user.username}}</option>
        <div *ngIf="postForm.get('user').errors && postForm.get('user').dirty" class="ui pointing red basic label">
          <p *ngIf="postForm.get('user').hasError('required')">This field is required</p>
        </div>
      </select>
    </div>
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" formControlName="title">
      <div *ngIf="postForm.get('title').errors && postForm.get('title').dirty" class="ui pointing red basic label">
        <p *ngIf="postForm.get('title').hasError('required')">This field is required</p>
      </div>
    </div>
    <div class="field">
      <label>Body</label>
      <input type="text" name="body" placeholder="Body" formControlName="body">
      <div *ngIf="postForm.get('body').errors && postForm.get('body').dirty" class="ui pointing red basic label">
        <p *ngIf="postForm.get('body').hasError('required')">This field is required</p>
      </div>
    </div>
    <button class="ui button" type="submit" [disabled]="!postForm.valid" (click)="sendPost()">Submit</button>
  </form>
</div>