<div class="content">
  <h2>
    List of Posts
  </h2>
  <div class="ui divider"></div>

  <app-error-message *ngIf="error" (closeError)="hideError()"></app-error-message>

  <div class="ui segment">
  <div class="ui dimmer" [ngClass]="{'active': loading}">
      <div class="ui" [ngClass]="{'loader': loading}"></div>
    </div>
    <app-add-post [users]="userList" (submitPost)="createPost($event)"></app-add-post>
  </div>

  <div class="ui segment">
    <div class="ui dimmer" [ngClass]="{'active': loading}">
      <div class="ui" [ngClass]="{'loader': loading}"></div>
    </div>    
    <div class="filter">      
      <app-post-filter 
        [users]="userList"
        (idFilter)="filterPosts($event)"
        (cleanFilter)="clearFilter()"></app-post-filter>      
    </div>
    <h5>Click on the row to see the details.</h5>
    <app-table 
      *ngIf="!loading" 
      [posts]="filteredPostList" 
      [users]="userList" 
      (idDelete)="deletePost($event)"></app-table>
  </div>

</div>